.sdls-container {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    width: 100%;
}

.custom-container {
    display: flex;           
    flex-direction: column;  
    align-items: center;     
    background-color: #fafbfc;
    padding: 20px;
    font-size: 18px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0d242d;
    border-radius: 50px; 
    text-align: center;
}

 .button{
    background-color: #0d242d;
 }

.error-message {
    color: red;
    font-size: 14px;
    margin: 5px 0;
}
